$color-black: #000;
$color-white: #fff;

$color-dark-gray: #333333;

$color-off-white: rgb(237, 240, 244);

$color-primary-light: #fefefe;
$color-primary-dark: #585d63;

// Breakpoints
$bp-xlarge: 1400px;
$bp-large: 1294px;
$bp-medium-large: 1024px;
$bp-medium: 720px;
$bp-small: 480px;
$bp-x-small: 320px;
